body {
  color: #40514E;
  margin: 0;
  text-align: center;
}

a {
  color: #11999E;
  font-family: 'montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

h1 {
  color: #66BFBF;
  margin: 50px auto 0 auto;
  font-family: 'Caveat', cursive;
  font-size: 4rem;
}

h2 {
  color: #66BFBF;
  font-family: 'Gruppo', cursive;
  font: 2rem;
  padding-bottom: 10px;
}

h3 {
  color: #11999E;
  font-family: 'Gruppo', cursive;
}

hr {
  border-top-color: #EAF6F6;
  border-style: none;
  border-top-style: dotted;
  border-top-width: 5px;
  width: 5%;
  margin: 100px auto;
}

.contact-msg {
  width: 40%;
  padding-top: 0;
  padding-bottom: 50px;
  margin: auto;
}

.copy-right {
  color: #EAF6F6;
  padding: 20px 0 20px 0;
  font-size: 0.75rem;
}

.profile {
  border-radius: 100%;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.html-css-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.photography-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

p {
  line-height: 2;
}

.top-container {
  background-color: #E4F9F5;
  padding-top: 100px;
  position: relative;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20PX;
}

.intro {
  width: 30%;
  margin: auto;
}

.weight {
  font-weight: normal;
}

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'montserrat', sans-serif;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
